In [4]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression 
from sklearn.model_selection import train_test_split
import datetime as datetime


data = pd.read_csv('https://raw.githubusercontent.com/cambridgecoding/machinelearningregression/master/data/bikes.csv')
data.head()

         date  temperature   humidity  windspeed  count
0  2011-01-03     2.716070  45.715346  21.414957  120.0
1  2011-01-04     2.896673  54.267219  15.136882  108.0
2  2011-01-05     4.235654  45.697702  17.034578   82.0
3  2011-01-06     3.112643  50.237349  10.091568   88.0
4  2011-01-07     2.723918  49.144928  15.738204  148.0

In [2]:
X = data[['temperature','humidity','windspeed']]
y=data[['count']]


model = LinearRegression().fit(X,y)
model.score(X,y)

0.6120070971355809

In [3]:
pred=model.predict([[3,49,21]])
pred = pred[0][0]
pred

212.72927998992304

In [98]:
now = datetime.datetime.now()
today = now.strftime("%Y-%m-%d")
new = [today,3,49,21,pred]
data.loc[len(data.index)]=new
data.tail()

           date  temperature   humidity  windspeed       count
725  2012-12-28     5.545775  54.242931  14.792709  644.000000
726  2012-12-29     4.924888  54.010283  14.777848  575.666667
727  2012-12-30     4.304001  53.777635  14.762987  507.333333
728  2012-12-31     3.683114  53.544987  14.748127  439.000000
729  2020-07-10     3.000000  49.000000  21.000000  212.729280

In [28]:
import pickle

with open("bike_model.pkl","wb") as file:
    pickle.dump(model,file)